.bar {
    fill: #eac708;
}

.line {
    fill: none;
    stroke: #eac708;
    stroke-width: 3px;
}

.tick line {
    stroke: #eee;
}

.tick text {
    fill: #eee;
}

.tick .domain {
    stroke: #eee;
}

.media {
    margin: 30px 10px;
    width: 630px;
    height: 450px;
}
